[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mongolstats"]
	path = mongolstats
	url = https://github.com/temuulene/mongolstats
